# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# VS2019 Files
.vs

# Temporary Folders
/Common/Release
/ConnectServer/Release
/Game/Release
/LoginServer/Release
/Server_Link/Release

# Logs
/Release/ServerLink_Log
/Release/ConnectServer_Log
/Release/GameServer_Log
/Release/LoginServer_Log

# Dev files
/Release/*.pdb
/Release/*.map

/Release/ConnectServer.conf.dmp
